sudo: required
language: python
python:
- 3.6
services:
  - mongodb
addons:
  ssh_known_hosts:
  - vps.jarrekk.com
before_script:
  - pip install Fabric3
  - pip install -r requirements.txt
  - python manage.py test --coverage
  - openssl aes-256-cbc -K $encrypted_43e498be0c5b_key -iv $encrypted_43e498be0c5b_iv -in id_rsa.enc -out id_rsa -d
  - mkdir ~/.ssh && chmod 600 ~/.ssh && mv id_rsa ~/.ssh && chmod 600 ~/.ssh/id_rsa
script: python -m unittest test/flask_test.py

after_success:
  - ssh root@vps.jarrekk.com "echo login success"
notifications:
  email: me@jarrekk.com
