sudo: required
language: python
python: 3.6

services:
  - mongodb

addons:
  ssh_known_hosts:
  - vps.jarrekk.com

before_script:
  - pip install Fabric3
  - pip install -r requirements.txt
  - openssl aes-256-cbc -K $encrypted_43e498be0c5b_key -iv $encrypted_43e498be0c5b_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa

script:
  - python manage.py test --coverage
  - python -m unittest test/flask_test.py
  - eeee

deploy:
  provider: script
  script: fab rebuild && fab up
  on:
    branch: master

notifications:
  email: me@jarrekk.com
