version: "2"

services:

  mongo:
    image: mongo
    command: mongod -f /data/configdb/mongodb.conf
    volumes:
      - /data/mongodb:/data/db:rw
      - /backhend/configdb:/data/configdb:rw
    ports:
      - "127.0.0.1:27017:27017"
    restart: always

  redis:
    image: redis
    command: redis-server --appendonly yes
    volumes:
      - /data/redis:/data:rw
    ports:
      - "127.0.0.1:6379:6379"
    restart: always

  flask:
    build: .
    volumes:
      - /backhend:/jalpc
    depends_on:
      - mongo
      - redis
    env_file:
      - ./.env
    restart: always

  celery:
    build:
      context: .
      dockerfile: celery.dockerfile
    volumes:
      - /backhend:/jalpc
    depends_on:
      - redis
    env_file:
      - ./.env
    restart: always

  nginx:
    image: nginx
    ports:
      - 80:80
      - 443:443
      - 8443:8443
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:rw
      - /backhend/nginx:/etc/nginx:rw
      - /backhend/renew_cert.sh:/renew_cert.sh:rw
      - /frontend/dist:/nginx_data:rw
    depends_on:
      - flask
    restart: always
